<!DOCTYPE html>
<html>

<head>
    <title>Tensorboard Launch</title>
</head>

<body>

	{% block content %}
    <h1>Create A Tensorboard Instance</h1>
    <form action="./tensor/load/" method="get" novalidate>
        <p>
            {{ form.logdir.label }}<br>
            {{ form.logdir(size=100) }}
        </p>

        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}

<a href="/pun/dev/tensor/load?dir=/users/PZS0715/smansour/TensorboardTestbench/logs/">Load One</a> |
<a href="/pun/dev/tensor/load?dir=/users/PZS0562/efranz/tmp/TensorboardTestbench/logs/">Load Two</a>


</body>

</html>
